<h1>Frentes de pesquisa em andamento</h1>
<div class="text-container">
	<h3>1. Exch w/ Turkers</h3>
	<p>Website com trocas entre turkers na tentativa de vislumbrar novas e mais justas realidades de treinamento de máquinas.</p>
	<h3>2. Turkers Brasil</h3>
	<p>Artigo acadêmico sobre os turkers brasileiros.</p>
	<h3>3. Apostila ativista</h3>
	<p>Material educativo para jovens que almejam uma formação em aprendizado de máquina mais ativista do que a proposta por cursos on line como o do Coursera. </p>
	<h3>4. Tradução sequencial: Google Translate</h3>
	<p>Artigo acadêmico a partir de resultados inusitados obtidos por experiências com tradução sequencial via Google Translate.</p>
	<h3>5. Visão Computacional - Van Abbemuseum <a href="https://mediarxiv.org/nv9z2/" class="frente-button" target="_blank">Preprint</a></h3>
	<p>Aproximações experimentais com os diversos sistemas de inteligências artificiais comerciais e seus bancos de imagens, como também seus processos de rotulagem.</p>
</div>