<p class="subtitle-container">Rede de colaboradores</p>
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="persona-row">
	<div class="persona-column">
		<ul style="list-style-type:none;">
			<li class="persona-container">
				<img class = "persona-img" src="src/images/personas/default.png">
				<a class = "persona-name" href="https://brunomoreschi.com" target="_blank">Bruno Moreschi</a>
			</li>
			<li class="persona-container">
				<img class = "persona-img" src="src/images/personas/default.png">
				<a class = "persona-name" href="https://www.gabrielpereira.net/" target="_blank">Gabriel Pereira</a>
			</li>
			<li class="persona-container">
				<img class = "persona-img" src="src/images/personas/default.png">
				<a class = "persona-name" target="_blank">Barbara Clemente</a>
			</li>
			<li class="persona-container">
				<img class = "persona-img" src="src/images/personas/lucas_nunes.png">
				<a class = "persona-name" href="https://github.com/lucasns97" target="_blank">Lucas Nunes Sequeira</a>
			</li>
			<li class="persona-container">
				<img class = "persona-img" src="src/images/personas/default.png">
				<a class = "persona-name" href="https://gitlab.com/rafaelspeth" target="_blank">Rafael Tsuha</a>
			</li>
			<li class="persona-container">
				<img class = "persona-img" src="src/images/personas/default.png">
				<a class = "persona-name" href="https://berinfontes.com/" target="_blank">Bernardo Fontes</a>
			</li>
		</ul>
	</div>
	<div class="persona-column">
		<ul style="list-style-type:none;">
			<li class="persona-container">
				<img class = "persona-img" src="src/images/personas/default.png">
				<a class = "persona-name" href="https://guilhermefalcao.com/" target="_blank">Guilherme Falcão</a>
			</li>
			<li class="persona-container">
				<img class = "persona-img" src="src/images/personas/default.png">
				<a class = "persona-name" target="_blank">Didiana Prata de Lima</a>
			</li>
			<li class="persona-container">
				<img class = "persona-img" src="src/images/personas/default.png">
				<a class = "persona-name" href="http://sites.poli.usp.br/p/fabio.cozman/" target="_blank">Fabio Cozman</a>
			</li>
			<li class="persona-container">
				<img class = "persona-img" src="src/images/personas/default.png">
				<a class = "persona-name" href="http://www.desvirtual.com/" target="_blank">Giselle Beiguelman</a>
			</li>
			<li class="persona-container">
				<img class = "persona-img" src="src/images/personas/default.png">
				<a class = "persona-name" href="http://www.centerartsdesign.org/" target="_blank">Center for Arts Design Social Research - CADSR</a>
			</li>
		</ul>
	</div>
</div>