<h1 class="subtitle-container">Rede de colaboradores</h1>
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="persona-row">
	<div class="persona-column">
		<ul style="list-style-type:none;">
			<li class="persona-container">
				<img class = "persona-img" src="src/images/personas/default.png">
				<a class = "persona-name" href="https://brunomoreschi.com">Bruno Moreschi</a>
			</li>
			<li class="persona-container">
				<img class = "persona-img" src="src/images/personas/default.png">
				<a class = "persona-name" href="https://www.gabrielpereira.net/">Gabriel Pereira</a>
			</li>
			<li class="persona-container">
				<img class = "persona-img" src="src/images/personas/default.png">
				<a class = "persona-name" >Barbara Clemente</a>
			</li>
			<li class="persona-container">
				<img class = "persona-img" src="src/images/personas/lucas_nunes.png">
				<a class = "persona-name" href="https://github.com/lucasns97">Lucas Nunes Sequeira</a>
			</li>
			<li class="persona-container">
				<img class = "persona-img" src="src/images/personas/default.png">
				<a class = "persona-name" href="https://gitlab.com/rafaelspeth">Rafael Tsuha</a>
			</li>
			<li class="persona-container">
				<img class = "persona-img" src="src/images/personas/default.png">
				<a class = "persona-name" href="https://berinfontes.com/">Bernardo Fontes</a>
			</li>
		</ul>
	</div>
	<div class="persona-column">
		<ul style="list-style-type:none;">
			<li class="persona-container">
				<img class = "persona-img" src="src/images/personas/default.png">
				<a class = "persona-name" href="https://guilhermefalcao.com/">Guilherme Falcão</a>
			</li>
			<li class="persona-container">
				<img class = "persona-img" src="src/images/personas/default.png">
				<a class = "persona-name" >Didiana Prata de Lima</a>
			</li>
			<li class="persona-container">
				<img class = "persona-img" src="src/images/personas/default.png">
				<a class = "persona-name" href="http://sites.poli.usp.br/p/fabio.cozman/">Fabio Cozman</a>
			</li>
			<li class="persona-container">
				<img class = "persona-img" src="src/images/personas/default.png">
				<a class = "persona-name" href="http://www.desvirtual.com/">Giselle Beiguelman</a>
			</li>
			<li class="persona-container">
				<img class = "persona-img" src="src/images/personas/default.png">
				<a class = "persona-name" href="http://www.centerartsdesign.org/">Center for Arts Design Social Research - CADSR</a>
			</li>
		</ul>
	</div>
</div>